<a href="https://colab.research.google.com/github/harinikurla/jntua-python/blob/master/day10(31_01_202).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LOOPS
* WHILE
* FOR

In [3]:
# print natural numbers upto n
n=int(input("enter number"))
i=0
while(i<n):
  print(i)
  i=i+1

enter number6
0
1
2
3
4
5

In [7]:
#print sum of even numbers upto n
n=int(input("enter number"))
i=0
s=0
while(i<=n):
  if(i%2==0):
    s=s+i
  i=i+1
print("sum of even numbers is  ",s)

enter number10
sum of even numbers is   30

In [11]:
#check palindrome or not
n=int(input("enter number"))
m=n
r=0
rev=0
while(n>0):
  r=n%10
  rev=rev*10+r
  n=n//10
if(rev==m):
  print(rev,"is palindrome")
else:
  print(rev,"is not palindrome")
print(rev)

enter number123
321 is not palindrome
321

In [0]:
#

#Functional Programming

*  Simple
* Easy to Understand
* Better Reusability
*   lengthy programs will be divided into sub programs

In [14]:
def NameoftheFunction(<parameter>):
    
     * statements
  
  return

SyntaxError: ignored

In [29]:
#print sum of even numbers
#n=int(input("enter number"))
r=0
l=0
def sumofevendigits(n):
  s=0
  while n!=0:
    r=n%10
    if r%2==0:
      s=s+r
    n=n//10
  return s
sumofevendigits(int(input("enter number")))

enter number123

2

In [37]:
# find largest digit in a number

def largestdigit(n):
  l=0
  r=0
  while (n > 0):
    r= n% 10
    if (r > l):
      l = r
    n = n//10
  return l
largestdigit(int(input("enter")))

enter04231765879

9

#FOR LOOP
* for in range(start,stop,step):
  
  statements

In [38]:
# print number between range
def printnum(a,b):
  for i in range(a,b+1):
    print(i,end=" ")
  return
printnum(1,10)

1 2 3 4 5 6 7 8 9 10

In [40]:
def printnum(a,b):
  for i in range(a,b+1,4):
    print(i,end=" ")
  return
printnum(23,45)

23 27 31 35 39 43

# COLLECTION TYPES
* LIST
* TUPLE
* DICTIONARY

#LIST
- One of the data structure in python
- Items in list are separated by comma and enclosed by square brackets
- List is mutable(i.e,values can change)
- ex:-
- list1=[1,2,3,4,5]
-list2=["jntua","cse"]

In [65]:
li=[1,8,2,5,4]
print(li)
print(li[2])
print(li[-3])
print(li[2:])
print(li[2:4])
print(li[-3:-1])
print(li[-4:-2])

[1, 8, 2, 5, 4]
2
2
[2, 5, 4]
[2, 5]
[2, 5]
[8, 2]

In [69]:
#update the list
li=['jntua',8,'antpr',5,4]
print(li)
li[1]='154'
print(li)
del li[3]
print(li)

['jntua', 8, 'antpr', 5, 4]
['jntua', '154', 'antpr', 5, 4]
['jntua', '154', 'antpr', 4]

In [73]:
#basic list operations
li=[1,2,3,4]
print(len(li))
print(li*2)
print(4 in li)
print(6 in li)

4
[1, 2, 3, 4, 1, 2, 3, 4]
True
False

#LIST FUNCTIONS
* max
* min
* sum
* append
* insert
* count
* index
* sort 
* pop

In [115]:
li=[1,23,45,2,3,4,5]
print(max(li))
print(min(li))
print(sum(li))
print(sum(li)/len(li))
li.append(6)
li.insert(2,3)
print(li.count(3))
print(li.index(4))
l=li.sort()
print(li)
li.pop()
print(li)

45
1
83
11.857142857142858
2
6
[1, 2, 3, 3, 4, 5, 6, 23, 45]
[1, 2, 3, 3, 4, 5, 6, 23]

In [119]:
# using function return large number from the list
def largenumber(li):
  li.sort()
  return li[-1]
def genericlarge(li,n):
  li.sort()
  return li[n]
li=[45,2,67,45,89,12]
print(largenumber(li))
print(genericlarge(li,-2))

89
67

In [122]:
# using function return small number from the list
def smallnumber(li):
  li.sort()
  return li[0]
def genericsmall(li,n):
  li.sort()
  return li[n]
li=[43,2,67,45,89,12]
print(smallnumber(li))
print(genericsmall(li,2))

2
43

#TUPLE
- paranthesis() -->tuple and square