<a href="https://colab.research.google.com/github/harinikurla/jntua-python/blob/master/day9(30_01_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
-

#markdown
###markdown
######markdown

**points**

*points*

***points***

***adding links to markdown***

*google sites---*

[site](https://www.jntua.ac.in/)

###image
![text](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR1yzDp_lIdF3T4gnzHb9R8_o5InqGe6CdbM5a7ez1XgOEwpxll)

In [3]:
print('hello jntua')

print("hello,jntu","|||","chemical","|||","cse","|||","mca")

hello jntua
hello,jntu ||| chemical ||| cse ||| mca

#ASSIGNMENT

In [9]:
n1=100 #single variable
n1
a=b=c=10 #multiple variaqble assignment
print(a,b,c)
print(n1)
a1,b1,c1=100,200,300 #multiple variaqble assignment with different values
print(a1,b1,c1)

10 10 10
100
100 200 300

#DATA TYPES AND CONVERSIONS
*   INT
*   FLOAT
*   STRING

In [12]:
a=100
s1=10.2
s2="python"
print(type(a),type(s1),type(s2))

<class 'int'> <class 'float'> <class 'str'>

In [15]:
i=100
print(type(i))
s1=str(i)
print(type(s1))
f1=float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [18]:
# length
a=123456
print(len(str(a)))

6

In [22]:
# reading input from user
a=input("enter id")
print(a)

enter id1dfef
1dfef

#OPERATORS


*   operators is symbol used to perform specific kind of operations
*   Arithmetic operators:
    * +
    * -
    * *
    * /
    * %
    * //

In [23]:
a=1234
print(a+10)
print(a-10)
print(a*10)
print(a/10)
print(a//10)
print(a%10)
print(a**10)

1244
1224
12340
123.4
123
4
8187505353567209228244052427776

#Relational operators
* =
* ==
* !=
*  <
* '>'
* <=
* '>'=

In [25]:
x=10
a1=x>15
print(a1)

False

# Logical Operators
* AND
* OR
* NOT

In [29]:
i=100
a1=(i>15)and(i<8)
a2=(i>15)or(i>800)
i=not 100
print(a1)
print(a2)
print(i)

False
True
False

# Control statements
* conditional statements
* looping statements

# IF-ELSE CONDITION
## Syntax
if boolean condition :

       statements
  else:

     statements

In [38]:
n=int(input("enter number"))
if n%2==0:
  print(n,"is a even number")
else:
  print(n,"is a odd number")

enter number6
6 is a even number

## to check given number is multiples of 3 and 5

In [36]:
n=int(input("enter number:"))
if (n%3==0) and(n%5==0):
  print(n ,"is multiples of 3 and 5")
else:
  print(n ,"is not multiples of 3 and 5")

enter number:45
45 is multiples of 3 and 5

In [40]:
# check given number is positive or not
n=int(input("enter number"))
if n>=0:
  print(n,"is a positive number")
else:
  print(n," is negative number")

enter number-2
-2  is negative number

In [42]:
# find largest of 3 numbers
a=int(input("enter a="))
b=int(input("enter b="))
c=int(input("enter c="))
if a>b :
  if a>c:
    print(a,"is largest")
  else:
    print(c,"is largest")
else:
  print(b," is largest")

enter a=3
enter b=6
enter c=1
6  is largest

In [50]:
# check given year is leap year or not
x=int(input("enter year"))
if ((x%400==0)and(x%100==0))or(x%4==0):
  print(x,"is a leap year")
else:
  print(x,"is not a leap year")

enter year1900
1900 is a leap year